.container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 20px;
}

.mainTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: white;
}

.subTitlesContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.singleSubTitleContainer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 6px;
}