.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(41, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.getStockInfoButton{
  height:60px;
  width: 200px;
  border: 1px solid #dfdfdf;
  cursor: pointer;
  color: #dfdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stockProjectionContainer{
  height: 100%;
  width: 100%;
}

.textFieldRoot {
  color: red;
}

.textFieldFocused {
  color: royalblue;
}