.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.backArrow {
    position: absolute;
    top: 10;
    left: 10;
    height: 30px;
    width: 30px;
}

.modulesContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.futureGrowthContainer {
    height: 500px;
    width: 500px;
}

.howMuchToGrowContainer {
    height: 500px;
    width: 500px;
}